* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: normal 300 20px/1.8 'Work Sans', Helvetica, Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.header {
  background: black;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.wrapper {
  position: relative;
  top: 100vh;
}

.header-background {
  background-image: url(./img/man.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position-x: 80%;
}

.header-navigation {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  padding: 50px 0px;
}

.header-navigation_links {
  text-decoration: none;
  color: #999;
  display: block;
  padding: 0px 20px;
  transition: all 0.2s ease-in-out;
}

.header-navigation_links:hover {
  color: rgb(240, 240, 240);
}

.header-content {
  /* position: absolute; */
  top: 200px;
  color: white;
}

.header-title {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 96px;
  line-height: 1.1;
  /* padding: 14%; */
  /* padding-left: 14%; */
}

.btn {
  display: inline-block;
  padding: 0 48px;
  border: 2px solid;
  position: relative;
  line-height: 3;
}

.btn-white {
  color: white;
  text-decoration: none;
}
.header-btn {
  /* position: absolute; */
  padding: 70px 0px;
}

.about {
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
  background-color: white;
  padding: 200px 0px;
}

.about-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  flex: 1;
}

.about-text {
  flex: 1;
}
.light-para {
  color: #999;
  margin-top: 20px;
}

.btn-black {
  color: black;
  text-decoration: none;
}

.about-btn {
  /* position: absolute; */
  padding: 50px 0;
}

.projects {
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0% 100%);
  background-color: #666;
  padding-bottom: 200px;
  position: relative;
  top: -100px;
}

.project1 {
  padding-top: 300px;
}

.project-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  flex: 1;
  padding-left: 8%;
  color: white;
  margin-top: 200px;
}

.project-btn {
  padding: 100px 0px 0px 30px;
}

.project1-img {
  background-image: url(./img/poster-design-series.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15%;
  width: 100%;
}

.blog-website {
  position: relative;
  top: 65vh;
  display: flex;
  height: 120vh;
  background-color: #666;
  padding-top: 300px;
}

.project2 {
  padding-top: 200px;
}
.project2-img {
  background-image: url(./img/nerddiary-blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: 5%; */
  width: 100%;
}

.project3 {
  padding: 200px 0px 0 0;
}

.project3-img {
  background-image: url(./img/nismo-design-concept.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 7%;
  width: 100%;
}

.project4 {
  padding-top: 200px;
}

.project4-img {
  background-image: url(./img/pixelschupser-mediendesign-website.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 7%;
  width: 100%;
}

footer {
  height: 83vh;
}

.footer-img {
  position: relative;
  top: -170px;
  background-image: url(./img/footer-background-mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: 7%; */
  width: 100%;
  height: 110vh;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
}

.footer-heading {
  /* position: absolute; */
  color: white;
  /* top: 200px; */
}

.footer-heading {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 66px;
  line-height: 1.1;
  flex: 1;
  padding: 200px 0;
  color: white;
}

.footer-btn {
  /* position: absolute; */
}

/* Media Queries */

@media screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
  .header-navigation {
    /* position: absolute; */
    justify-content: space-evenly;
  }
  .header-navigation_links {
    text-decoration: none;
    color: #999;
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 0px 20px;
    transition: all 0.2s ease-in-out;
  }
  .header-title {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 60px;
    padding: 70px 0px;
    line-height: 1.1;
  }

  .about {
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    padding: 150px 0px;
  }

  .about-heading {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 38px;
    line-height: 1.1;
    flex: 1;
  }
  .about-text {
    flex: 1;
    padding: 30px 0px;
  }
  .project1,
  .project2,
  .project3,
  .project4 {
    padding-top: 0px;
  }
  .project-heading {
    font-size: 50px;
  }
  .project1-img,
  .project2-img,
  .project3-img,
  .project4-img {
    margin: 30px 0px 0px 30px;
    height: 300px;
    width: 92%;
  }
  .project-btn {
    padding: 50px 0px 0px 10px;
  }
  .projects {
    padding-bottom: 150px;
  }
  footer {
    height: 77vh;
  }
  .footer-img {
    top: -175px;
  }
  .footer-heading {
    font-size: 50px;
    padding: 200px 0px;
  }
  .footer-img {
    height: 100vh;
  }
}
